.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1024px;
  margin: 100px auto;
}

@media screen and (max-width: 767px) {
  .container {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}
