.form {
  display: flex;
  flex-direction: column;
}

.form__action {
  display: flex;
  height: 40px;
  width: 300px;
  margin: 10px;
}

.form__input,
.form__button {
  font-size: 18px;
  text-align: center;
}

.form__input {
  width: 200px;
}

.form__input:focus {
  outline: 2px solid gold;
}

.form__button {
  width: 100px;
  text-transform: uppercase;
}

.form__button:hover {
  background-color: gold;
}

.form__error {
  font-size: 18px;
  color: red;
}

@media screen and (max-width: 767px) {
  .form {
    margin: 10px auto;
  }
}
