.form {
  display: flex;
  flex-direction: column;
}

.form__action {
  display: flex;
  height: 40px;
  margin: 10px;
}

.form__input,
.form__button {
  font-size: 18px;
  text-align: center;
}

.form__input {
  width: 70%;
}

.form__input:focus {
  outline: 2px solid gold;
}

.form__button {
  width: 30%;
  text-transform: uppercase;
  border: 1px solid white;
  color: white;
  background-color: #282c34;
}

.form__button:hover {
  background-color: gold;
  color: #282c34;
}

.form__error {
  font-size: 18px;
  color: red;
}

@media screen and (max-width: 767px) {
  .form {
    width: calc(100% - 20px);
    margin: 20px auto;
  }
}
