.header {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 20px;
}

.header > h1 {
  font-size: 36px;
  letter-spacing: 2px;
}

.header > select {
  position: absolute;
  top: 20px;
  right: 20px;
  text-transform: uppercase;
  padding: 2px;
  border: 1px solid white;
  color: white;
  background-color: #282c34;
}
