.item {
  list-style: none;
  display: flex;
  align-items: center;
  height: 60px;
  margin: 0 10px;
  padding: 5px 10px;
  border: 1px solid white;
}

.item:hover {
  background-color: gray;
  border-color: gray;
  transition: 0.2s;
}

.item__name {
  text-align: start;
  overflow: hidden;
}

.item__action {
  width: 30%;
  min-width: 100px;
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.item__award,
.item__demote,
.item__delete {
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 38px;
  margin: 0 5px;
  border: 2px solid white;
  border-radius: 50%;
  transition: 0.2s;
}

.item__delete {
  position: relative;
}

.item__award:hover,
.item__demote:hover,
.item__delete:hover {
  cursor: pointer;
}

.item__delete::before,
.item__delete::after {
  position: absolute;
  top: 17px;
  left: 5px;
  content: "";
  width: 75%;
  height: 3px;
  background-color: white;
}

.item__delete::before {
  transform: rotate(45deg);
}

.item__delete::after {
  transform: rotate(-45deg);
}

.item__delete:hover {
  background-color: red;
}

.item__award,
.item__demote {
  font-size: 30px;
}

.item__award {
  color: yellow;
}

.item__award:hover {
  background-color: green;
}

.item--best {
  background-color: gold;
  color: #282c34;
}

.item--best .item__delete {
  border-color: #282c34;
}

.item--best .item__delete::before,
.item--best .item__delete::after {
  background-color: #282c34;
}

.item__demote {
  border: 2px solid #282c34;
  border-radius: 50%;
}

.item__demote:hover {
  background-color: yellow;
}
